* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    min-height: 100vh;
    padding-left: 1rem;
}

.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    border: 1px solid #000;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
}

.square:first-child {
    background-color: aqua;
}

.square:nth-child(2) {
    background-color: lightgoldenrodyellow;
}

.square:nth-child(3) {
    background-color: dodgerblue;
}

.squareHidden {
    display: none;
}

/* from pascal.html */

.top {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    font-family:  Helvetica; font-size: 12px;
    margin-top: 15px;
}

.log-boolean,
.log-undefined {color: magenta;}
.log-object,
.log-string {color: yellowgreen;}
.log-number {color: cyan;}
.center {
    width: 900px;
    text-align: center;
    margin-top: -15px;
}